body {
  background-image: url("image/murben.jpeg"), url("image/murben.jpeg");
  background-position: left, right;
  background-repeat: repeat-y, repeat-y;
  background-size: 250px, 250px;
  font: 16px / 26px arial, sans-serif;
  margin: 0;
}

.container {
  width: 900px;
  margin: auto;
  background-color: #fff;
}

.header {
  margin-top: -10px;
  padding: 10px;
}

.header .judul {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 2px 1px black;
}
.header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header ul li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
.header a {
  text-decoration: none;
  color: #000;
  padding: 5px;
}

.header a:hover {
  background-color: #f24b4d;
  color: white;
  border-radius: 10%;
}

.hero {
  height: 270px;
  background-image: url(image/resizecom_image-removebg-preview.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content {
  padding: 10px;
}

.content h1 {
  font-size: 32px;
  font-weight: bold;
  height: 40px;
  position: relative;
}

.content h1 span:first-of-type {
  display: inline-flex;
  white-space: nowrap;
  animation: ketik-hapus-pertama 6s steps(30) infinite,
    blink 0.7s step-end infinite;
  overflow: hidden;
  border-right: 3px solid black;
  opacity: 0;
  animation-fill-mode: forwards;
}

.content h1 .span-baru {
  padding-bottom: 3.5px;
  display: inline-flex;
  white-space: nowrap;
  animation: ketik-hapus-kedua 6s steps(30) infinite,
    blink 0.7s step-end infinite;
  position: absolute;
  left: 100px;
  overflow: hidden;
  border-right: 3px solid black;
}

@keyframes ketik-hapus-pertama {
  0% {
    width: 0;
    opacity: 1;
  }
  10% {
    width: 0;
    opacity: 1;
  }
  20% {
    width: 370px;
    opacity: 1;
  }
  40% {
    width: 370px;
    opacity: 1;
  }
  50% {
    width: 0;
    opacity: 1;
  }

  100% {
    width: 0;
    opacity: 0;
    visibility: hidden;
    border-right: none;
  }
}

@keyframes ketik-hapus-kedua {
  0%,
  50% {
    width: 0;
    opacity: 0;
  }
  60% {
    width: 0;
    opacity: 1;
  }
  70% {
    width: 345px;
    opacity: 1;
  }
  85% {
    width: 345px;
    opacity: 1;
  }
  95% {
    width: 0;
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    border-right-color: #000000;
  }
  50% {
    border-right-color: transparent;
  }
  100% {
    border-right-color: black;
  }
}

.content .penulis {
  margin-top: -30px;
  font-size: small;
  font-style: italic;
}

.content .penulis a {
  text-decoration: none;
  color: orangered;
}

.foto {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.foto img {
  width: 25%;
  height: auto;
  border-radius: 15px;
  transition: 0.5s;
}

.foto img:hover {
  transform: scale(1.1);
}

.content p {
  text-align: justify;
  line-height: 25px;
}

.footer {
  background-color: #000;
  margin-bottom: -12px;
}

.copy {
  padding: 5px;
  color: #fff;
  text-align: center;
  font-size: 12px;
}

.judul span {
  color: red;
}

/* media query */

/* tablet */
@media (max-width: 1024px) {
  .container {
    width: 95%;
  }

  body {
    background-size: 180px, 180px;
  }

  .header .judul {
    font-size: 32px;
  }

  .foto img {
    width: 40%;
  }
}

/* hp */
@media (max-width: 768px) {
  body {
    background-image: none;
  }

  .container {
    width: 100%;
  }

  .header {
    text-align: center;
  }

  .header ul li {
    display: block;
  }

  .hero {
    height: 220px;
    background-position: center;
    background-size: 80%;
  }

  .content h1 {
    font-size: 20px;
    height: auto;
  }

  .content h1 span:first-of-type,
  .content h1 .span-baru {
    position: static;
    border-right: 2px solid black;
  }

  .foto {
    flex-direction: column;
    align-items: center;
  }

  .foto img {
    height: 300px;
    background-size: 30%;
  }
}
